page-home {


		.b2{
		position: relative;
  		margin-top: 3%;
  		height: 50px;
  		 background-color: #112751;
 

	}
	.b1{
		position: relative;
  		margin-top: 3%;
  		height: 50px;
  		 background-color: #336600;
 

	}

	ion-header{
		background-color:#99004d;
		height:70px;
	}

}
