page-signin {

	ion-header{
		background-color: #333300;
		font-color: white;
	}


	.b2{
		position: relative;
  		margin-top: 3%;
  		height: 50px;
  		 background-color: #112751;
 

	}
	.b1{
		position: relative;
  		margin-top: 3%;
  		height: 50px;
  		 background-color: #336600;
 

	}
	.b3{

		position: relative;
  		margin-top: 3%;
  		height: 50px;
  		 background-color: transparent;
 

	}

}
